.contentStyle {
    height: auto;
    background: #364d79;
    color: #fff;
    display: flex;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    display: block !important;
    color: black !important;
    font-size: 20px !important;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-prev::after {
    content: '' !important;
    color: black !important;
    font-size: 20px !important;
}

.ant-carousel .slick-next::before,
.ant-carousel .slick-next::after {
    color: black !important;
    content: '' !important;
    font-size: 20px !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: black !important;
}

.downoutlined {
    padding-top: 5px !important;
}

.closed {
    opacity: 0.33;
}